<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Contact</h1>
    <p class="lead"></p>
  </div>
</div>
<div class="container">
<span class="title">
Hi! This app was made for Code Academy III purposes. It's still on progress but suggestions are accepted.
</span>
<h2 class="h2title">Who am I </h2>
<div class="row">
  <div class="col-md-2">
   <%= image_tag("profilepic.jpg", :class => 'profile', :alt => "laura ramos") %>

  </div>
  <div class="col-md-10">
  <p class="paragraph">I'm Laura, a 28 years old developer and multimedia artist, based in Buenos Aires. 
  </p>
  <p class="paragraph">I like cats, 90's music and Chuck Palahniuk books. I work at IBM.</p>
  <p><%= link_to "<home", root_path %></p>
</div>
</div>
</div>